<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Johns Material Demo</span>

    <span class="example-spacer"></span>
    
    <button mat-button>Stuff</button>
    <button mat-button>Stuff</button>
    <button mat-button>Stuff</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Who's learning Angular?">
  </mat-form-field>

  <br>
  
  <button mat-raised-button (click)="showAnswer()">Answer me</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>


<mat-card *ngIf="answerDisplay">
  <h1>{{ answerDisplay }}, that's who.</h1>
</mat-card>